:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px 0;
  background-color: #1b1a1a;
  border-bottom: 2px solid brown;
}

.links {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.links > li {
  background-color: darkblue;
  font-size: x-large;
  padding: 20px;
  border-radius: 20px;
  list-style: none;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.links > li:hover {
  background-color: black;
  border: 3px solid brown;
  transform: scale(1.2);
}

.container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
